{% load static %}


<link rel="stylesheet" href="{% static 'DataTabless/datatables.min.css' %}">
<script src="{% static 'DataTabless/datatables.min.js' %}"></script>

 





  	<script src="{% static 'assets/js/core/jquery.3.2.1.min.js' %}"></script>
	<script src="{% static 'assets/js/core/popper.min.js' %}"></script>
	<script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>

	<script src="{% static 'assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
	<script src="{% static 'assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js' %}"></script>

	<script src="{% static 'assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>

	
	 




    	<!-- <script src="{% static 'DataTables/datatables.min.js' %}"></script> -->



		