{% extends 'base/head.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}

 {% block content %}
<div class="wrapper sidebar_minimize">
{% include "projectEngineer/nav.html" %}
{% include "projectEngineer/sidebar.html" %}
{% include "base/date.html" %}

		<div class="main-panel">
			<div class="content" style="background-color:#cdd0d2;">


<div class="page-inner">
	<div class="page-header">
		<h4 class="page-title" style="word-break: break-all;"> Project --{{ name }}--</h4>&nbsp&nbsp&nbsp
		<a href="{% url 'pe-projects' %}"><button type="button" class="btn btn-outline-primary">Return to Projects</button></a>

	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">

				<div class="card-body">

				     <form method="POST" enctype="multipart/form-data">

                        {% csrf_token %}


                            {{form|crispy}}
							<a href="{% url 'pe-projects' %}"><button type="button" class="btn btn-outline-primary">Return to Projects</button></a>



                    </form>
				</div>

			</div>
		</div>
	</div>



</div>




            </div>
		{% include "base/foot.html" %}
		</div>

	</div>
	<!--   Core JS Files   -->


 {% endblock content %}
